body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/107/521/original/itl.cat_best-hd-wallpapers-for_795304.png?1702773644");
  background-repeat: no-repeat;
  background-size: cover;
}
