body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/107/535/original/pexels-codioful-%28formerly-gradienta%29-7130472.jpg?1702777949");
  background-size: cover;
  color: white;
  font-family: "Roboto", sans-serif;
}
a {
  color: white;
}
.container {
  padding: 30px;
  margin: 60px auto;
  width: 600px;
  border-radius: 10px;
  background: rgba(5, 5, 5, 0.242);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
