body {
  background-color: rgb(214, 205, 235);
  background-size: cover;
  color: white;
  font-family: "Roboto", sans-serif;
}
header {
  text-align: right;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0px;
}
footer {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  text-align: center;
}
a {
  color: white;
}
.container {
  padding: 13px 50px;
  margin: 60px auto;
  max-width: 620px;
  border-radius: 10px;
  background: rgba(5, 5, 5, 0.175);
  box-shadow: 0 20px 30px rgba(50, 38, 77, 0.199);
}
.weather-logo {
  width: 60px;
  position: relative;
  top: 10px;
}
.search-form {
  margin: 20px;
  font-size: 16px;
}
.search-input {
  border: none;
  color: rgb(147, 115, 230);
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  width: 73%;
}
.search-button {
  background: rgb(147, 115, 230);
  color: white;
  border: none;
  padding: 10px 43px;
  border-radius: 4px;
  margin-left: 10px;
}
.main-city {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.main-city-info-left {
  display: flex;
  justify-content: center;
  position: relative;
  left: 20px;
}
.main-city-info-right {
  position: relative;
  top: 20px;
}
.weather-icon {
  width: 120px;
  position: relative;
  left: -20px;
}
.weather-value {
  font-size: 90px;
  text-shadow: 0 20px 30px rgba(50, 38, 77, 0.199);
  font-weight: bold;
  margin-bottom: 0px;
}
.weather-unit {
  font-size: 30px;
  position: relative;
  top: -45px;
  left: -5px;
}
.city {
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
}
.weather-indept-details {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.596);
  line-height: 18px;
  margin-top: 5px;
}
.humidity {
  color: rgb(113, 66, 231);
}
.wind {
  color: rgb(113, 66, 231);
}
